@model IEnumerable<MVCClient.Models.Conversaciones>

@{
    ViewBag.Title = "Conversacion";
}

    <h2>@Session["UsuarioReceptor"]</h2>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmisor)
            </td>
            <td>
                @if (item.Archivo == false)
                {
                    @Html.DisplayFor(modelItem => item.Mensaje)
                }
                else
                {
                    @Html.ActionLink(item.Mensaje.ToString(), "Descompresion", "Loggeado", new { mensaje = item.Mensaje })
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.ActionLink("Borrar mensaje", "Eliminar", "Loggeado", new { id = item.ID }, null)
            </td>
        </tr>
    }
<p class="lead">
    <div>
        @using (Html.BeginForm("Conversacion", "Loggeado", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label>Mensaje:</label>
            <input type="text" name="mensaje" />
            
            <input type="submit" value="Enviar" class="btn btn-outline-success" />
        <hr />
        }
    </div>
    <div>
        @using (Html.BeginForm("Conversacion", "Loggeado", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label>Archivo:</label>
            <input type="file" name="archivo" />

            <input type="submit" value="Enviar Archivo" class="btn btn-outline-success" />
        <hr />
        }
    </div>
    <div>
        @using (Html.BeginForm("Buscar", "Loggeado", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h4>Búsqueda de mensajes: </h4>
            <input type="text" name="palabra" />
            <input type="submit" value="Buscar" class="btn btn-outline-success" />
            <hr />
        }
    </div>
    
</p>

</table>
